@import "colors/colors.css";

window#waybar.bottom {
  background-color: transparent;
  border-radius: 12px;
  margin: 10px;
}

#custom-spotify {
  padding: 0.3rem 0.6rem;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 6px;
  margin-bottom: 5px;
  background-color: @primary;
}