* {
    background:                       #131313;
    background-alt:                   #1f1f1f;
    alternate-background:             #1b1b1b;
    foreground:                       #e2e2e2;
    foreground-colour:                #e2e2e2;
    selected:                         #ffb873;
    active:                           #e2c0a4;
    urgent:                           #ffb4ab;

    background-colour:                #131313;
    border-colour:                    #919191;

    normal-background:                #131313;
    normal-foreground:                #e2e2e2;
    alternate-normal-background:      #1f1f1f;
    alternate-normal-foreground:      #e2e2e2;
    selected-normal-background:       #ffb873;
    selected-normal-foreground:       #4b2800;
    active-background:                #59422d;
    active-foreground:                #ffdcbf;
    alternate-active-background:      #59422d;
    alternate-active-foreground:      #ffdcbf;
    selected-active-background:       #e2c0a4;
    selected-active-foreground:       #412c18;
    urgent-background:                #93000a;
    urgent-foreground:                #ffdad6;
    alternate-urgent-background:      #93000a;
    alternate-urgent-foreground:      #ffdad6;
    selected-urgent-background:       #ffb4ab;
    selected-urgent-foreground:       #690005;
}